body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

/* HEARTS BACKGROUND */
.hearts-bg {
    background: #ff1e4d;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 30px 30px;
    animation: moveHearts 10s linear infinite;
}

@keyframes moveHearts {
    from { background-position: 0 0; }
    to { background-position: 0 1000px; }
}

.soft-bg {
    background-color: #ffe6eb;
}

.container {
    margin-top: 100px;
}

.bear {
    width: 250px;
}

.sign {
    background: white;
    padding: 20px;
    font-size: 22px;
    border-radius: 10px;
    margin: 20px auto;
    width: 350px;
}

.buttons button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.yes-btn {
    background-color: #ff4d6d;
    color: white;
}

.no-btn {
    background-color: #333;
    color: white;
}

.center {
    margin-top: 100px;
}

.choice-img {
    width: 250px;
    cursor: pointer;
}

.roses {
    width: 300px;
    margin-top: 20px;
}

.hidden {
    display: none;
}
